.BadgeNew__hero {
  width: 100%;
  padding: 2rem 20rem;
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
}

.BadgeNew__container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.BadgeNew__container .col {
  width: 400px;
}
.BadgeNew__container .col-6 {
  position: relative;
  width: 400px;
  top: -14rem;
}
