.BadgeForm h1 {
  background-color: none;
  color: white;
  padding: 0;
  text-align: center;
}

.BadgeForm form {
  padding: 0 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}
.BadgeForm .form-group {
  padding: 0.7rem 0;
  font-weight: bold;
}
.BadgeForm .form-group input {
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(187, 187, 187);
}

.BadgeForm .btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.BadgeForm .btn-group .terms {
  align-self: flex-start;
  font-size: 15px;
  color: rgb(71, 71, 71);
  
}
.btn-group input{
  margin: 0 .1rem;
}

.BadgeForm .btn-group .terms a {
  text-decoration: none;
}

.BadgeForm .btn-picture {
  border-radius: 5px;
  width: 70%;
  background-color: white;
  color: rgb(78, 153, 252);
  border-color: rgb(78, 153, 252);
  padding: 1rem 0;
  margin: 1rem 0;
}
.BadgeForm .btn-picture:hover {
  box-shadow: 5px 5px 5px rgb(78, 153, 252);
}
.BadgeForm .btn-primary {
  font-weight: bold;
  border: none;
  background-color: #98CA3F;
  border-radius: 5px;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
}
